.bar {
    padding: 4px;
    background: rgba(var(--black), 0.75);
    border-radius: 6px;
    width: 400px;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.075);
}

.progress {
    height: 16px;
    border-radius: 4px;
    background-color: green;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25),
        inset 0 1px rgba(255, 255, 255, 0.1);

    background-image: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.15) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.15) 50%,
        rgba(255, 255, 255, 0.15) 75%,
        transparent 75%,
        transparent
    );
    background-size: 40px 40px;

    width: 0px;

    transition: 0.4s linear;
    animation: movement 5s linear infinite;
}

@keyframes movement {
    100% {
        background-position: 40px 0;
    }
}
