:root {
    --black: 19, 19, 19;
    --white: 255, 255, 255;

    --background: var(--black);
    --text: var(--white);
}

@media (prefers-color-scheme: light) {
    :root {
        --background: var(--white);
        --text: var(--black);
    }
}
